@mixin scrollbar {
	&::-webkit-scrollbar {
		width: 1.125rem;
		height: 1.125rem;
		background-color: var(--content-bg);
		&-button {
			width: 0;
			height: 0;
		}
		&-thumb {
			border: 0.4375rem solid var(--content-bg);
			background-color: var(--clr-muted-low);
			border-radius: 2rem;
		}
	}
	&:hover::-webkit-scrollbar-thumb {
		background-color: var(--clr-muted-med);
	}
}

@mixin animation($animate...) {
	$max: length($animate);
	$animations: '';

	@for $i from 1 through $max {
		$animations: #{$animations + nth($animate, $i)};

		@if $i < $max {
			$animations: #{$animations + ", "};
		}
	}
	& {
		animation: $animations;
	}
}

@mixin animate($props, $uid) {
	@keyframes #{$uid} {
		@content;
	}
	& {
		@include animation($uid $props);
	}
}
