html, body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

html {
	height: 100%;
	box-sizing: border-box;
	*, *:before, *:after {
		box-sizing: inherit;
	}
}

body {
	min-height: 100%;
}

select, button, input {
	background: inherit;
	color: inherit;
	font: inherit;
	border: initial;
	padding: unset;
	margin: unset;
}

button {
	cursor: pointer;
}

svg {
	fill: currentColor;
	vertical-align: middle;
}

table {
	border-collapse: collapse;
}

code {
	display: inline-block;
	white-space: pre-wrap;
	word-break: break-word;
	font-size: 0.8em;
	background: var(--tint-low);
	padding: 0.5rem;
	border-radius: 0.25rem;
}

ul, ol, p, h1, h2, h3, h4, h5, h6, blockquote {
	color: inherit;
	padding: unset;
	margin: unset;
	font: inherit;
}
