@import "../library";

.m_table {
	width: 100%;
	&__container {
		max-width: calc(100% + 1.25rem);
		overflow: auto;
		margin: 0 -0.625rem;
		@include scrollbar;
	}
	th, td {
		padding: 0.375rem;
		&:first-child {
			padding-inline-start: 0.625rem;
		}
		&:last-child {
			padding-inline-end: 0.625rem;
		}
		.input {
			width: 100%;
		}
	}
	> thead {
		> tr:last-child {
			border-bottom: 1px solid var(--base-bg);
		}
		th, td {
			text-align: left;
		}
	}
	> tbody {
		> tr {
			&:hover, &:focus-within {
				background-color: var(--tint-low);
			}
			&:nth-child(even):not(:hover):not(:focus-within) {
				background-color: var(--shade-lowest);
			}
			> th {
				text-align: left;
				padding-top: 1rem;
				padding-bottom: 1rem;
				vertical-align: top;
			}
		}
	}
	&.--sheet {
		> thead {
			th, td {
				text-align: center;
			}
		}
		> tbody {
			th {
				font-weight: normal;
				white-space: nowrap;
				padding: 0.5rem 0.5rem;
			}
			td:has(.input) {
				padding: 0;
			}
			.input {
				//margin: -0.375rem;
			}
		}
	}
	&.--stock {
		> tbody {
			th {
				text-align: right;
				width: 5rem;
			}
			td {
				.input {
					width: 4rem;
				}
			}
		}
	}
}
