@use "theme_light";
@use "theme_dark";
@import "../library";

:root {
	--clr-txt-link: var(--clr-default-highest);

	--tint-highest: rgb(from var(--clr-default-highest) r g b / 45%);
	--tint-high: rgb(from var(--clr-default-highest) r g b / 35%);
	--tint-med: rgb(from var(--clr-default-highest) r g b / 20%);
	--tint-low: rgb(from var(--clr-default-highest) r g b / 10%);
	--tint-lowest: rgb(from var(--clr-default-highest) r g b / 5%);

	--shade-highest: rgb(from var(--clr-muted-highest) r g b / 75%);
	--shade-high: rgb(from var(--clr-muted-highest) r g b / 55%);
	--shade-med: rgb(from var(--clr-muted-highest) r g b / 35%);
	--shade-low: rgb(from var(--clr-muted-highest) r g b / 15%);
	--shade-lowest: rgb(from var(--clr-muted-highest) r g b / 5%);

	--highlight-highest: rgb(from var(--clr-warning-low) r g b / 75%);
	--highlight-high: rgb(from var(--clr-warning-low) r g b / 55%);
	--highlight-med: rgb(from var(--clr-warning-low) r g b / 35%);
	--highlight-low: rgb(from var(--clr-warning-low) r g b / 15%);
	--highlight-lowest: rgb(from var(--clr-warning-low) r g b / 5%);
}

.t_highlight {
	background: var(--highlight-low);
}

body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14 / 16 * 1rem;
	background: var(--base-bg);
	color: var(--base-txt);
	@include scrollbar;
}

a {
	color: var(--clr-txt-link);
	&:hover, &:focus {
		text-decoration: none;
	}
}

input.input,
select.select {
	height: 2.25rem;
}
input.input,
select.select,
textarea.textarea {
	padding: 0 0.5rem;
	border: 1px solid var(--clr-muted-highest);
	border-radius: 0.25rem;
	background: var(--content-bg);
}
input.input {
	&.--sm {
		width: 4rem;
	}
}


