:root {
	@media (prefers-color-scheme: dark) {
		--base-bg: #1f2023;
		--base-txt: #a5bdde;
		--content-bg: #000000;
		--content-txt: #cccccc;
		--contrast-bg: var(--clr-default-low);
		--contrast-txt: #ffffff;

		--clr-muted-highest: #dddddd;
		--clr-muted-high: #a1a1a1;
		--clr-muted-med: #555555;
		--clr-muted-low: #282828;
		--clr-muted-lowest: #151515;

		--clr-default-highest: #68b0dc;
		--clr-default-high: #458ebc;
		--clr-default-low: #1d587e;
		--clr-default-lowest: #182e3c;

		--clr-success-highest: #70cb3d;
		--clr-success-high: #70cb3d;
		--clr-success-low: #396a1d;
		--clr-success-lowest: #234211;

		--clr-warning-highest: #bfaa33;
		--clr-warning-high: #bfaa33;
		--clr-warning-low: #675c1e;
		--clr-warning-lowest: #37331c;

		--clr-danger-btn-txt: #ffd0d0;
		--clr-danger-highest: #d74b4b;
		--clr-danger-high: #ae2c2c;
		--clr-danger-low: #681919;
		--clr-danger-lowest: #561111;

		--clr-accent-highest: #af85e1;
		--clr-accent-high: #8858c3;
		--clr-accent-low: #683c9e;
		--clr-accent-lowest: #362151;
	}
}
