@use "u_badge";
@use "u_btn";
@use "data_tooltip";
@use "u_alert";
@import "../library";

.u_loading {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--content-bg) url(../img/spinner.gif) no-repeat fixed 58% 50% / 2rem;
	opacity: 0.6;
	&__container {
		position: relative;
	}
}
