.u_badge {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	font-size: 0.8125rem;
	border-radius: 0.125rem;
	height: 1.5rem;
	padding: 0 0.5rem;
	background-color: var(--badge-bg);
	color: var(--badge-txt);
	border-left: 0.125rem solid var(--badge-line);
	box-shadow: 0.125rem 0.125rem 0.6rem -0.35rem var(--badge-line);

	--badge-bg: var(--clr-default-lowest);
	--badge-txt: var(--clr-default-highest);
	--badge-line: var(--clr-default-low);
	&.--success {
		--badge-bg: var(--clr-success-lowest);
		--badge-txt: var(--clr-success-highest);
		--badge-line: var(--clr-success-low);
	}
	&.--warning {
		--badge-bg: var(--clr-warning-lowest);
		--badge-txt: var(--clr-warning-highest);
		--badge-line: var(--clr-warning-low);
	}
	&.--danger {
		--badge-bg: var(--clr-danger-lowest);
		--badge-txt: var(--clr-danger-highest);
		--badge-line: var(--clr-danger-low);
	}
	&.--accent {
		--badge-bg: var(--clr-accent-lowest);
		--badge-txt: var(--clr-accent-highest);
		--badge-line: var(--clr-accent-low);
	}
	&.--muted {
		--badge-bg: var(--clr-muted-low);
		--badge-txt: var(--clr-muted-highest);
		--badge-line: var(--clr-muted-med);
	}
}
